.DS_Store
env/
__pycache__/
logs/
/data_trajectories/
wandb/
/data_trained_models
/data_envs
cache/
/data_test_sets
server_logs/
*.egg-info/
nlp_hess_l.casadi
data/*

build/

.agent/
.pytest_cache/

/data/

/results/
/results_inference/

# Sphinx build output
docs/api/
dist/